# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/

# Virtual env
.venv/
venv/

# Environment files
.env

# Jupyter
.ipynb_checkpoints/

# Data outputs
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Reports
reports/*
!reports/.gitkeep

